 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
ul {
    list-style:none;
}
a {
    text-decoration: none;
    color:black;
    display: block;
}
html {
  scroll-behavior: smooth;
}
 body{
    font-family: "Open Sans", sans-serif;
 }
 .container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
 }
 .main-heading {
   text-align: center;
 }
 .main-heading h2 {
   font-size:40px;
   font-weight:normal;
   position: relative;
   transform:uppercase;
   margin-bottom: 70px;
 }
 .main-heading h2:before {
  content:"";
  width: 120px;
  background-color:black;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
 }
 .main-heading h2:after {
  content:"";
  width:14px;
  height: 14px;
  border-radius:50%;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:-37px;
  left: 50%;
  transform: translateX(-50%);
 }
 .main-heading p {
  color: #777;
  line-height:2;
  margin:0 auto 100px;
  width: 550px;
  max-width: 100%;
 }

 @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
 header {
   position: absolute;
   left: 0;
   width: 100%;
   z-index: 999;
 }
  header .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
 }
 
 header .container:before {
   content:"";
   position: absolute;
   left:15px;
   bottom: 0;
   width:calc(100% - 30px);
   height: 1px;
   background-color:#a2a2a2;
 }
  header .container img {
    height:40px;
  }
  header .container nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
  }
  header .container nav ul {
    display:flex;
}
 header .container nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
 header .container nav ul li a.active ,
 header .container nav ul li a:hover a {
   color:var(--main-color);
   transition:.3s;
 }
 header .container nav ul li a.active:before ,
 header .container nav ul li a:hover:before {
    content:"";
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 0;
    transition: .3s;
    width:100%;
    height: 1px;
    background-color: var(--main-color);
 }
 
 header .container nav .form  {
    width: 40px;
    height: 30px;
    margin-left: 30px;
    position: relative;
    border-left:2px solid white;
 }

  header .container nav .form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    padding-left: 10px;
    transform: translateY(-50%);
  }
  header .container nav i {
    color: white;
  }
  @media (min-width:768px) {
  header .container nav .burger {
    display: none;
  }
}
  @media (max-width:768px) {
    header .container nav ul {
      display: none;
    }
    header .container nav ul li a {
      padding: 20px;
    }
    header .container nav .burger {
      font-size: 22px;
    }
    header .container nav .burger:hover + ul {
      background-color:rgb(0, 0, 0,50%);
      width: 100%;
      display: flex;
      position: absolute;
      left: 0;
      transition:.3s;
      top:100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .landing {
    height: 100vh;
    background-image: url(../images/landing\ \(1\).jpg);
    background-size:cover ;
    position: relative;
  }

  .landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-color:rgb(0 0 0 / 60%);
  }
  .landing .text {
    width:50%;
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
  }
  .landing .text .content  {
    max-width: 500px;
  }
  .landing .text .content h2 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .landing .text .content p {
    font-size: 14px;
    line-height:2;
    padding-bottom: 20px;
  }
  @media (max-width:768px) {
    .landing .text {
      width: 100%;
    }
  }
  .landing .change-background {
    font-size: 30px;
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width:768px) {
    .landing .change-background {
      display: none;
    }
  }
  .landing .change-background:hover {
    color: var(--main-color);
  }
  .landing .arrow-left {
    left: 30px;
  }
  .landing .arrow-right {
    right:30px;
  }
  .landing .bullets{
    display: flex;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:20px;
  }
  .landing .bullets li {
    width: 20px;
    margin-right: 15px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    list-style: none;
  }
  .landing .bullets li.active {
    background-color: var(--main-color);
    border: none;
  }
  .services {
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
  }
  @media (min-width:768px) {
    .services .srv-container {
      display:grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap:40px;
      grid-row-gap:60px; 
    }
  }
  .services .srv-container .srv {
    display:flex;
  }
  @media (max-width:768px) {
    .services .srv-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .services .srv-container .srv {
      flex-direction: column;
      justify-items: center;
      align-content: center;
      text-align: center;
      margin-bottom: 40px;
    }
      .services .srv-container .srv p{
        line-height: 1.5;
        font-size: 12px;
        text-align: center;
        width: 300px;
      }
    }
  .services .srv-container .srv i {
    margin-right:50px;
  }
  @media (max-width:768px) {
    .services .srv-container .srv i{
      margin:0 0 20px;
    }
  }
  .services .srv-container .srv h3 {
    color: var(--main-color);
    font-size: 20px;
    padding-bottom: 30px;
  }
  .services .srv-container .srv p {
    color: #777;
    line-height: 2;
    font-size: 14px;
  }
  .design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
    display: flex;
    align-items:center ;
    overflow: hidden;
    justify-content: center;
  }
  .design:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }
  .design .image , .design .text{
    position: relative;
    flex: 1;
    z-index: 2;
  }
  .design .image {
   text-align: center;
  }
  .design .image img {
    position: relative;
    bottom:-150px;
  }
  @media (max-width:768px) {
    .design .image {
      display: none;
    }
    .design .text {
      width: 100%;
    }
  }
  .design .text {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
  }
  .design .text h2 {
    font-weight: normal;
    margin-bottom: 35px;
  }
  .design .text ul li {
    padding: 15px 0;
    position: relative;
  }
  .design .text ul li:before {
    font-family:"Font Awesome 5 Free";
    content:"\f108";
    font-weight: 900;
    color: white;
    position:relative;
    margin-right: 20px;
    top: 1px;
  }

